/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999;
    border-radius: 10%;
  }*/
  ul {
    list-style-type: none;
    padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
  background-color: #999;
  border-radius: 10%;
  text-align: center;
  font-size: 200%;
} 
ul a:hover{
    background-color: #98FB98;
    color: black;
    text-align: center;
}
  
  li {
    text-align: center;
    font-size: 150%;
    display:inline-block;
  }
  
  li a {
    text-align: center;
    display:inline-block;
    color: white;
    padding: 14px 16px 10px
  }
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #98FB98;
  }

span {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 150%;
}
p {
    padding: 2px;
    text-align: center;
    font-size: 150%;
}

h1 {
    text-align: center;
    font-size: 400%;
  }
h2{
  text-align: center;
  text-emphasis: bold;
}  

.name {
    text-align: center;
    text-emphasis: bold;
    font-size: 150%;
}
img{
    size: 10px;
    height:"150";
    width:"150";
    align-content: right;
    display: block;
    margin-left: auto;
    margin-right: 30%;

}
.form-group{
  visibility: hidden;
}
.form-area{
  align-content: right;
  margin-right: 10%;
}
.logoutButton{
  align-content: right;
  margin-left: 80%;
}
